# PyCity Schools Analysis

## Three observation trends based on the data

1. [School Type] Whole average values are not so different(less than 1 point/ 1%) but 5 bottom performing schools (by passing rate) are all Charter.  
2. [Spending Ranges Per Student] No positive correlation between Spending Ranges Per Student and Passing Rates, rather than there might be negative correlation.
3. [School Size] Smaller schools likely to have higher average or rate than larger ones.

In [135]:
# Import Dependencies
import pandas as pd
import os
import numpy as np

# Path to resource files
path = "resources"

# Genarate a student df
students_df = pd.read_csv(os.path.join(path, 'students_complete.csv'))

# Generate a school df changed the column name 'name' to 'school'
school_df = pd.read_csv(os.path.join(path, 'schools_complete.csv')).rename(columns={"name": "school"})

# Merge two dfs into one df
stu_sch_df = pd.merge(students_df, school_df, how = "outer")
# stu_sch_df.head()

## District Summary

In [136]:
# generate a new dataframe for schools "dist_sch_df" in whicn rows "type" is "District" are collected
dist_sch_df = school_df[school_df["type"] == "District"]

# generate a new dataframe for students "dist_stu_sch_df" in whicn rows "type" is "District" are collected
dist_stu_sch_df = stu_sch_df[stu_sch_df["type"] == "District"]

# group "dist_stu_sch_df" (for students) by type
distByType = stu_sch_df.groupby("type")

# assign the computed numbers to the fields
totalStu = len(dist_stu_sch_df.index)
math_passed = len(dist_stu_sch_df[dist_stu_sch_df["math_score"] >= 60].index)
read_passed = len(dist_stu_sch_df[dist_stu_sch_df["reading_score"] >= 60].index)

# create a new df with computed data
dist_summary = pd.DataFrame({
    "Total Schools":[len(dist_sch_df.index)],
    "Total Students":[totalStu],
    "Total Budget":[distByType.sum().loc["District","budget"]],
    "Average Math Score":[distByType.mean().loc["District","math_score"]],
    "Average Reading Score":[distByType.mean().loc["District","reading_score"]],
    "% Passing Math":[math_passed/totalStu],
    "% Passing Reading":[read_passed/totalStu],
    "% Overall Passing Rate":[(math_passed + read_passed)/(totalStu*2)]
})

# format and show the df
dist_summary[[
    "Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
]].style.format({
    "Total Budget":"${:,d}",
    "Average Math Score":"{:.2f}",
    "Average Reading Score":"{:.2f}",
    "% Passing Math":"{:.2%}",
    "% Passing Reading":"{:.2%}",
    "% Overall Passing Rate":"{:.2%}"
})

## School Summary

In [137]:
# generate a new df for students grouped by "school"
groupBySch = stu_sch_df.groupby("school")

# assign the computed numbers to the fields
passedStu_mathbySch = stu_sch_df[stu_sch_df["math_score"] >= 60].groupby("school").count()["Student ID"]
passedStu_readbySch = stu_sch_df[stu_sch_df["reading_score"] >= 60].groupby("school").count()["Student ID"]

# generate a new df to show the results
sch_summ_df = groupBySch.mean()

# assign computed data to sch_summ_df
sch_summ_df["School Type"] = list(school_df["type"])
sch_summ_df["Total Students"] = groupBySch.count()["Student ID"]
sch_summ_df["Per Student Budget"] = sch_summ_df["budget"] / sch_summ_df["Total Students"]
sch_summ_df["Average Math Score"] = groupBySch.mean()["math_score"]
sch_summ_df["Average Reading Score"] = groupBySch.mean()["reading_score"]
sch_summ_df["% Passing Math"] = passedStu_mathbySch / sch_summ_df["Total Students"]
sch_summ_df["% Passing Reading"] = passedStu_readbySch / sch_summ_df["Total Students"]
sch_summ_df["% Overall Passing Rate"] = (passedStu_mathbySch + passedStu_readbySch)/(sch_summ_df["Total Students"]*2)

# format and show the result
sch_summ = sch_summ_df.rename(columns={"budget": "Total School Budget"})[[
    "School Type",
    "Total Students",
    "Total School Budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
    
]]
sch_summ.style.format({
    "Total School Budget":"${:,.0f}",
    "Per Student Budget":"${:,.0f}",
    "Average Math Score":"{:.2f}",
    "Average Reading Score":"{:.2f}",
    "% Passing Math":"{:.2%}",
    "% Passing Reading":"{:.2%}",
    "% Overall Passing Rate":"{:.2%}"
    
})

## Top Performing Schools (By Passing Rate)

In [138]:
# sort, format, and show the df
sch_summ.sort_values(by=["% Overall Passing Rate", "% Passing Math"], ascending=False).head().style.format({
    "Total School Budget":"${:,.0f}",
    "Per Student Budget":"${:,.0f}",
    "Average Math Score":"{:.2f}",
    "Average Reading Score":"{:.2f}",
    "% Passing Math":"{:.2%}",
    "% Passing Reading":"{:.2%}",
    "% Overall Passing Rate":"{:.2%}"
    
})

## Bottom Performing Schools (By Passing Rate)

In [139]:
# sort, format, and show the df
sch_summ.sort_values(by=["% Overall Passing Rate", "% Passing Math"]).head().style.format({
    "Total School Budget":"${:,.0f}",
    "Per Student Budget":"${:,.0f}",
    "Average Math Score":"{:.2f}",
    "Average Reading Score":"{:.2f}",
    "% Passing Math":"{:.2%}",
    "% Passing Reading":"{:.2%}",
    "% Overall Passing Rate":"{:.2%}"
    
})

## Math Scores by Grade

In [140]:
# generate a new df to show the result
mathScore_sch_grade = pd.DataFrame({
    "9th":stu_sch_df[stu_sch_df["grade"] == "9th"].groupby("school").mean()["math_score"],
    "10th":stu_sch_df[stu_sch_df["grade"] == "10th"].groupby("school").mean()["math_score"],
    "11th":stu_sch_df[stu_sch_df["grade"] == "11th"].groupby("school").mean()["math_score"],
    "12th":stu_sch_df[stu_sch_df["grade"] == "12th"].groupby("school").mean()["math_score"]
})

# format and show the df
mathScore_sch_grade[[
    "9th", "10th", "11th", "12th"
]].style.format("{:.2f}")

In [141]:
# generate a new df to show the result
readScore_sch_grade = pd.DataFrame({
    "9th":stu_sch_df[stu_sch_df["grade"] == "9th"].groupby("school").mean()["reading_score"],
    "10th":stu_sch_df[stu_sch_df["grade"] == "10th"].groupby("school").mean()["reading_score"],
    "11th":stu_sch_df[stu_sch_df["grade"] == "11th"].groupby("school").mean()["reading_score"],
    "12th":stu_sch_df[stu_sch_df["grade"] == "12th"].groupby("school").mean()["reading_score"]
})

# format and show the df
readScore_sch_grade[[
    "9th", "10th", "11th", "12th"
]].style.format("{:.2f}")

In [142]:
# assign bins and labels
bins_spend = [0,585,615,645,675]
group_labels_spend = ["< $585","$585 - $615","$615 - $645","$645 - $675"]

# assign a new column as labels
sch_summ["Spending Ranges (Per Student)"] = pd.cut(sch_summ["Per Student Budget"],bins_spend,labels=group_labels_spend)

# Group by ageRange
sch_spendRange = sch_summ.groupby("Spending Ranges (Per Student)").mean()

# format and show the df
sch_spendRange[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
]].style.format({
    "Average Math Score": "{:.2f}",
    "Average Reading Score": "{:.2f}",
    "% Passing Math": "{:.2%}",
    "% Passing Reading": "{:.2%}",
    "% Overall Passing Rate":"{:.2%}"   
})

In [143]:
# assign bins and labels
bins_size = [0,1000,2000,5000]
group_labels_size = ["Small(< 1000)","Medium(1000-2000)","Large(2000-5000)"]

# assign a new column as labels
sch_summ["School Size"] = pd.cut(sch_summ["Total Students"],bins_size,labels=group_labels_size)

# Group by sizeRange
sch_sizeRange = sch_summ.groupby("School Size").mean()

# format and show the df
sch_sizeRange[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
]].style.format({
    "Average Math Score": "{:.2f}",
    "Average Reading Score": "{:.2f}",
    "% Passing Math": "{:.2%}",
    "% Passing Reading": "{:.2%}",
    "% Overall Passing Rate":"{:.2%}"   
})

In [144]:
# group by school type, format, and show the df
sch_summ.groupby("School Type").mean()[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
]].style.format({
    "Average Math Score": "{:.2f}",
    "Average Reading Score": "{:.2f}",
    "% Passing Math": "{:.2%}",
    "% Passing Reading": "{:.2%}",
    "% Overall Passing Rate":"{:.2%}"   
})